<div class="loader-inline">
	<label
		*ngIf="!isTauri || importMode !== 'tauri'"
        for="file-upload"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent file-upload-button"
        [attr.title]="sampleText">
        <i class="material-icons">file_upload</i>
        <span class="file-upload-label">Select SMS Backup</span>
    </label>
    <button
		*ngIf="isTauri && importMode === 'tauri'"
		class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent file-upload-button file-upload-button--tauri"
        type="button"
        (click)="browseAndLoadFromTauriPath()"
        title="Load a large backup using the desktop streaming parser">
        <i class="material-icons">folder_open</i>
		<span class="file-upload-label">Select SMS Backup</span>
    </button>
	<input
		*ngIf="!isTauri || importMode !== 'tauri'"
		id="file-upload"
		type="file"
		name="xml"
		(change)="fileChange($event)"
		accept=".xml,.XML"
		multiple />
</div>