<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title" routerLink="/main" routerLinkActive="active">SMS Backup Viewer</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <button class="mdl-button mdl-js-button mdl-button--accent" style="float:right;" routerLink="/settings" routerLinkActive="active">
                    Settings
                </button>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Menu</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" routerLink="/settings" routerLinkActive="active">Settings</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">

			<div class="top-tools">
				<div class="tool">
					<sms-loader (onLoaded)="onSmsLoaded($event)"></sms-loader>
				</div>
				<div class="tool">
					<vcf-loader (onLoaded)="onVcfLoaded($event)"></vcf-loader>
				</div>
				<div class="tool tool-settings">
					<button class="mdl-button mdl-js-button mdl-button--raised" routerLink="/settings" routerLinkActive="active">
						Settings
					</button>
				</div>
			</div>

            <router-outlet></router-outlet>

        </div>
    </main>
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">SMS Backup Viewer</div>
            <ul class="mdl-mini-footer__link-list">
                <li>&copy; 2016 Josh Burt</li>
            </ul>
        </div>
    </footer>
</div>
